@import 'mixins';
@media only screen and (min-width: 320px) and (max-width: 600px) {
    html{
        font-size: 80%;
    }
    #wrapper{
        header{
            #search{
                width: 100%;
                #city{
                    grid-area: 1 / 1 / span 1 / span 7;
                }
                #country{
                    grid-area: 2 /2 / span 1 / span 8;
                }
                #city-button{
                    grid-area: 1/ 8 / span 1 / span 3;
                }
                }
        }
        main{
            #info{
                height: 80%;
                width: 90%;
                #time{
                    grid-area: 2 / 1 / span 1 / span 20 ;
                }
                #city-name{
                    grid-area: 1 / 1 / span 1 / span 20 ;
                }
                #date{
                    grid-area: 3 / 1 / span 1 / span 20 ;
                }
                #temperature{
                    grid-area: 4 / 1 / span 2 / span 20 ;
                    font-size: 5rem
                }
                #description{
                    grid-area: 6 / 1 / span 1 / span 20 ;
                }
                #wind{
                    justify-content: center;
                    grid-area: 7 / 1 / span 1 / span 20 ;
                }
                #pressure{
                    justify-content: center;
                    grid-area: 8 / 1 / span 1 / span 20 ;
                }
                #humidity{
                    justify-content: center;
                    grid-area: 9 / 1 / span 1 / span 20 ;
                }
            }
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html{
        font-size: 80%;
    }
    #wrapper{
        header{
            #search{
                width: 100%;
            }
        }
        main{
            #info{
                height: 80%;
                width: 85%;
                #time{
                    grid-area: 3 / 1 / span 1 / span 10 ;
                }
                #date{
                    grid-area: 3 / 11 / span 1 / span 10 ;
                }
                #wind{
                    @include flex(start,center);
                    padding-left: 10%;
                    grid-area: 4 / 1 / span 2 / span 8 ;
                }
                #pressure{
                    @include flex(start,center);
                    padding-left: 10%;
                    grid-area: 6 / 1 / span 2 / span 8 ;
                }
                #humidity{
                    @include flex(start,center);
                    padding-left: 10%;
                    grid-area: 8 / 1 / span 2 / span 8 ;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html{
        font-size: 85%;
    }
    #wrapper{
        header{
            #search{
                width: 70%;
        }
        main{
            #info{
                height: 80%;
                width: 80%;
            }
            }
        }
    }
}   
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    html{
    font-size: 90%;
    }
    #wrapper{
        main{
            #info{
                height: 80%;
                width: 75%;
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    html{
    font-size: 100%;
    }
}