@import 'mixins';
@media only screen and (min-width: 320px) and (max-width: 600px) {
    html{
        font-size: 80%;
    }
    #wrapper{
        header{
            transform: translateY(50vw);
            #search{
                width: 100%;
                #city{
                    grid-area: 1 / 1 / span 1 / span 7;
                }
                #city-button{
                    grid-area: 1/ 8 / span 1 / span 3;
                }
                }
        }
        main{
            #toggle{
                transform: translateY(-40vh);
            }
            #info{
                height: 80%;
                width: 90%;
                #time{
                    grid-area: 3 / 1 / span 1 / span 20 ;
                }
                #city-name{
                    grid-area: 1 / 1 / span 2 / span 20 ;
                }
                #date{
                    grid-area: 4 / 1 / span 1 / span 20 ;
                }
                #temperature{
                    grid-area: 5 / 1 / span 1 / span 20 ;
                    font-size: 5rem
                }
                #description{
                    justify-content: center;
                    padding:none none none none;
                    grid-area: 6 / 1 / span 1 / span 20 ;
                }
                #wind-direction{
                    justify-content: center;
                    padding:none none none none;
                    grid-area: 7 / 1 / span 1 / span 20 ;
                }
                #wind-speed{
                    justify-content: center;
                    padding:none none none none;
                    grid-area: 8 / 1 / span 1 / span 20 ;
                }
                #pressure{
                    justify-content: center;
                    padding:none none none none;
                    grid-area: 9 / 1 / span 1 / span 20 ;
                }
                #humidity{
                    justify-content: center;
                    padding:none none none none;
                    grid-area: 10 / 1 / span 1 / span 20 ;
                }
            }
            #forecast{
                height: 80%;
                width: 90%;
                grid-template-columns: 100%;
            }
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html{
        font-size: 80%;
    }
    #wrapper{
        header{
            transform: translateY(45vw);
            #search{
                width: 100%;
            }
        }
        main{
            #toggle{
                transform: translateY(-40vh);
            }
            #info{
                height: 80%;
                width: 85%;
                #city-name{
                    
                    grid-area: 1 / 1 / span 2 / span 20 ;
                }
                #time{
                    grid-area: 3 / 1 / span 1 / span 10 ;
                }
                #date{
                    grid-area: 3 / 11 / span 1 / span 10 ;
                }
                #temperature{
                    grid-area: 4 / 9 / span 3 / span 4 ;
                    font-size: 7rem
                }
                #wind-direction{
                    padding-left: 20%;
                    grid-area: 6 / 1 / span 2 / span 10 ;
                }
                #wind-speed{
                    padding-left: 20%;
                    grid-area: 7 / 1 / span 2 / span 10 ;
                }
                #pressure{
                    padding-right: 10%;
                    grid-area: 6 / 10 / span 2 / span 10 ;
                }
                #humidity{
                    padding-right: 10%;
                    grid-area: 7 / 10 / span 2 / span 10 ;
                }
            }
            #forecast{
                height: 80%;
                width: 85%;
                grid-template-columns: 48.5% 48.5%;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html{
        font-size: 85%;
    }
    #wrapper{
        header{
            transform: translateY(30vw);
            #search{
                width: 100%;
            }
        }
        main{
            #toggle{
                transform: translateY(-39vh);
            }
            #info{
                height: 80%;
                width: 80%;
            }
            #forecast{
                height: 80%;
                width: 80%;
            }
        }
    }
}   
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    html{
    font-size: 90%;
    }
    #wrapper{
        header{
            transform: translateY(25vw);
            #search{
                width: 100%;
            }
        }
        main{
            #info{
                height: 80%;
                width: 75%;
            }
            #forecast{
                height: 80%;
                width: 75%;
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    html{
    font-size: 100%;
    }
}