@import 'mixins';
*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body {
	background: url('./Images/1.jpg');
	background-size: 100% 100%;
}
#wrapper{
    height: 100vh;
    padding-top: 3%;
    header{
        height: 7%;
        font-size: 1.7rem;
        text-align: center;
        transform: translateY(17vw);
        #search{
            @include grid(repeat(10,10%),repeat(1,100%));
            width: 60%;
            margin: auto;
            #city{
                text-align: center;
                background-color: rgba(240, 248, 255, 0.3);
                grid-area: 1 / 3 / span 1 / span 4;
                border-radius: 8px 0 0 8px;
                background-color: rgba(255, 255, 255, 0);
            }
            #city-button{
                grid-area: 1/ 7 / span 1 / span 2;
                border-radius: 0 8px 8px 0;
                transition: 0.5s;
            }
            #city-button:hover {
                transform: scale3d(1.1);
                box-shadow: 0 0 5px black;
            }
        }
    }
    main{
        height: 93%;
        @include flex(center,center);
        visibility: hidden;
        transform: scale(0.01);
        #toggle{
            height: 7;
            transform: translateY(-38vh);
            margin: auto;
            font-size: 1.7rem;
            border-radius: 8px;
            transition: 0.5s;
        }
        #toggle:hover {
            transform: scale3d(1.1);
            box-shadow: 0 0 5px black;
        }
        #info{
            @include widthAndHeight(70%,80%);
            @include grid(repeat(20,5%),repeat(10,10%));
            transform: translateY(2vh);
            margin: auto;
            background-color: rgba(240, 248, 255, 0.3);
            border-radius: 10px;
            box-shadow: 0 0 10px black;
            font-size: 1.3rem;
            transition: opacity 0.5s;
            position: fixed;
            #time{
                @include flex(center,center);
                grid-area: 1 / 1 / span 2 / span 5 ;
            }
            #city-name{
                @include flex(center,center);
                font-size: 2rem;
                grid-area: 1 / 6 / span 2 / span 10 ;
            }
            #date{
                @include flex(center,center);
                grid-area: 1 / 16 / span 2 / span 5 ;
            }
            #temperature{
                @include flex(center,center);
                grid-area: 4 / 9 / span 4 / span 4 ;
                font-size: 6rem
            }
            #description{
                @include flex(center,center);
                font-size: 2rem;
                grid-area: 8 / 6 / span 3 / span 10 ;
            }
            #wind-direction{
                @include flex(start,center);
                padding-left: 5%;
                grid-area: 5 / 1/ span 2 / span 8 ;
            }
            #wind-speed{
                @include flex(start,center);
                padding-left: 5%;
                grid-area: 7 / 1 / span 2 / span 9 ;
            }
            #pressure{
                @include flex(end,center);
                padding-right: 5%;
                grid-area: 5 / 13 / span 2 / span 8 ;
            }
            #humidity{
                @include flex(end,center);
                padding-right: 5%;
                grid-area: 7 / 13 / span 2 / span 8 ;
            }
        }
        #forecast{
            @include widthAndHeight(70%,80%);
            padding: 1%;
            display: grid;
            grid-template-columns: repeat(3,30%);
            gap: 3%;
            grid-auto-rows:70%;
            margin: auto;
            transform: translateY(2vh);
            background-color: rgba(240, 248, 255, 0.3);
            border-radius: 10px;
            box-shadow: 0 0 10px black;
            font-size: 1.3rem;
            transition: opacity 0.5s;
            position: fixed;
            opacity: 0;
            overflow: scroll;
            overflow-x: hidden;
            .forecastCard {
                @include widthAndHeight(100%,100%);
                @include grid(100%,repeat(6,16%));
                align-items: center;
                text-align: center;
                border: 1px solid black;
                border-radius: 10px;
                .date {
                    font-weight: bold;
                }
            }
        }
    }
}
@keyframes fromCenterToTop {
    0% {
        transform: translateY(17vw);
    }
    100% {
        transform: translateY(0);
    }
}
.CenterToTop {
    animation: 0.5s ease-in 0s 1 fromCenterToTop;
}
@keyframes enlarge {
    0% {
        transform: scale(0.01);
    }
    100% {
        transform: scale(1);
    }
}
.Enlarge {
    animation: 0.8s ease-in-out 0s 1 enlarge;
}
@import 'media-queries';
